body#root-page-mobile header#pageheader .pageheader-inner {
  background-image: url("https://i.imgur.com/H1xCMQf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
 overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, height 0.5s ease;
}
body#root-page-mobile header#pageheader:hover .pageheader-inner {
  max-height: 200px; /* Adjust the desired height for the slide-out effect */
}

#root-page-mobile #header-notify-toggle #notify .container {
  z-index: 9999; /* Adjust the z-index value as needed */
}
