/* Site Prefix */

::-webkit-scrollbar { width: 1px; }

/*Site Visuals - Background Image */

#root-page-mobile #content #content-container { background-image: url('https://i.imgur.com/MfV1rdV.png'); background-position: center;  background-repeat: no-repeat; background-attachment: fixed; background-size: cover;  }
#mobile-page .content-content { background-image: url('https://i.imgur.com/MfV1rdV.png'); background-position: center;  background-repeat: no-repeat; background-attachment: fixed; background-size: cover;  }

/* Site Visuals - mainprofile */ 


		/* feed - posts  */
		#profile-news-feed ul.news-feed-thumbs>li.item {  background-color: hsl(0deg 0% 18.34% / 30%); 	backdrop-filter: blur(5px); 	border-radius: 15px; box-shadow: 0 0 5px #bf4141;	}
		/* Comments  item framing*/
			#root-page-mobile #profile-news-feed .feed-comments .comments form textarea { background-color: #2e2e2e4a;	border-radius: 12px;	}
		 /*comments - username color, text color, etc.*/
			#root-page-mobile #profile-news-feed .feed-comments .comments ul.comment-list li .header .username a {
    color: #6760c0;
    text-shadow: 0 0 3px #6760c0;
    transition: transform 0.3s, text-shadow 0.3s;

    transform: scale(1);
}
			#root-page-mobile #profile-news-feed .feed-comments .comments ul.comment-list li .header .username a:hover {
    text-shadow: 0 0 10px #6760c0;

    transform: scale(1.1); 
}
			#profile-news-feed ul.news-feed-thumbs>li.item .feed-header .feed-text .user {     color: #a93232; text-shadow: 0 0 4px #a93232;  transition: text-shadow 0.3s; }
			#profile-news-feed ul.news-feed-thumbs>li.item .feed-header .feed-text .user:hover {     color: #a93232; text-shadow: 0 0 14px #a93232; }
			#profile-news-feed ul.news-feed-thumbs>li.item .feed-header { padding: 31px 10px 10px 0; }
			#profile-news-feed ul.news-feed-thumbs>li.item { color: rgb(194 194 194); text-shadow: 0 0 2px #4d4d4d; }
			/* TextArea */
			pure-form textarea { background-color: #302f2f6e; border-radius: 12px; }
			.pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form select, .pure-form textarea {
				box-shadow: 0 0 5px #bf4141;
				background-color: #19191963;!important;
				border-radius: 13px;
				    						color: #ededed;
    						text-shadow: 0 0 1px #fff;
			}
			/* Feed Post Button */
			.pure-button-primary,
			.pure-button-selected,
			a.pure-button-primary,
			a.pure-button-selected {
   						 color: #636363; /* Initial text color */
   						 background-color: #55555559;
   						 background-image: none;
    						border-radius: 13px;

    						transition: color 0.6s, box-shadow 0.6s;
						}

						/* Button styles on hover */
						.pure-button-primary:hover,
						.pure-button-selected:hover,
						a.pure-button-primary:hover,
						a.pure-button-selected:hover {
									    color: #db4b4b; /* Text color on hover */
						    background-image: none;
						    box-shadow: 0 0 7px #b33030; /* Box shadow on hover */
									}
		/*Timestamp display 0 */
			#root-page-mobile #profile-news-feed .feed-comments .comments ul.comment-list li .header .time { display: none; }
			#profile-news-feed ul.news-feed-thumbs>li.item .feed-header .feed-time { display: none; }
		/*TextColor*/
		#root-page-mobile #profile-news-feed .feed-comments .comments ul.comment-list li .body { color: #d9d5d5; text-shadow: 0 0 2px #4d4d4d; }
		
		/*UserCreations Display 0 */
		#mobile-page #profile-page .creations-feed section.creations-custom .creation-list { display: none; }
		/*Badges BeGone */
		#mobile-page #profile-page .section-top .profile-badges { display: none; }
		#mobile-page #profile-page .section-top { height: 400px; }

		/* Report & Block Menu Button */

    /* Site Visuals - Friendslist */ 
    ._3TORb {  background-color: #1a1a1a26;    }
    
	#mobile-page #profile-page .creations-feed section.creations-custom .section-description {
		position: absolute;
		top: -10%;
		right: 50%;


		
	max-width: 500px;
	max-height: 200px;
	
	}

#mobile-page #profile-page .creations-feed section.creations-custom .section-description .description-container { 


	box-shadow: none; 

	background-color: ##1a1a1a9;
	border-radius: 10px; 
	box-shadow: 0 0 2px #db4b4b; 
	backdrop-filter: blur(5px); }

#mobile-page #profile-page .creations-feed section.creations-custom .section-description .description-container .text { background-image: none!important; }
#mobile-page #profile-page .creations-feed section.creations-custom .section-description .description-container .header { display: none; }

/* Make Icons Circular */

.UA3TP ._3tYRU, .UA3TP rect {   clip-path: circle(); }
 .UA3TP._2bUqU {     left: 80%;  top: 30%;  }
#mobile-page #profile-page .section-top .username {  position: absolute;   left: 60%; top: 44%;   max-width: 170px;  white-space: nowrap; / overflow: hidden;  text-overflow: ellipsis;  }
 #mobile-page #profile-page .section-top .username h1 {   color: #ab3535;  text-shadow: 0 0 4px #f76a6a; }
 #mobile-page #profile-page .section-top .username h1 a {
  color: hsl(227.28deg 74.1% 55.69% / 83%);
  text-shadow: 0 0 4px #536fb8;
  animation: glowing1 5s infinite;
}
@keyframes glowing1 {
  0% {
    text-shadow: 0 0 5px #fafbff, 0 0 20px #536fb8;
  }
  50% {
    text-shadow: 0 0 10px #fafbff, 0 0 30px #536fb8;
  }
  100% {
    text-shadow: 0 0 5px #536fb8, 0 0 20px #536fb8;
  }
}
.UA3TP._2bUqU .Hkdag { display: none; }
.UA3TP._1fWKe .Hkdag, .UA3TP._3WMbv .Hkdag { display: none; }
.UA3TP ._11RkC { stroke: none; }

#mobile-page #profile-page .section-top .progression .level { display: none; }
#mobile-page #profile-page .section-top .profile-meta .profile-created-date { display: none; }
#mobile-page #profile-page .section-top .progression { display: none; }
#mobile-page #profile-page .creations-feed section.creations-custom { display: ; }
#mobile-page #profile-page .creations-feed { position: relative; left: 21%; }
#report-button-container #report-button { display: none; }
#mobile-page #profile-page .creations-feed section.creations-custom #block-profile-button-container #block-button { position: relative; right: 10%; bottom: 20%; }

/* footers & annoying things that should not exist */

footer #footer-links, footer #footer-about, footer #footer-company, footer #footer-header { display: none; }


