
   
._3TORb {
  position: relative;
  background: transparent;
  right: -70%; /* Start position outside the screen */
  transition: right 0.3s ease-in-out;
}

._3TORb:hover {
  right: 0; /* Slide in from the right */
}